<taglib>
	<tlib-version>1.0</tlib-version>
	<jsp-version>2.0</jsp-version>
	<short-name>eadmission</short-name>
	<uri>/WEB-INF/tld/eadmission.tld</uri>
	<tag>
		<name>registered</name>
		<tag-class>com.epam.ok.viewutils.RegisteredUsersTag</tag-class>
		<body-content>empty</body-content>
	</tag>
	<tag>
		<name>specialities</name>
		<tag-class>com.epam.ok.viewutils.SpecialitiesTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>lang</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>			
		</attribute>
		<attribute>
			<name>abiturient</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>			
		</attribute>
	</tag>
	<tag>
		<name>usermarks</name>
		<tag-class>com.epam.ok.viewutils.UserMarksTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>login</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>			
		</attribute>
	</tag>
	<tag>
		<name>applicationsToProcess</name>
		<tag-class>com.epam.ok.viewutils.ApplicationsTag</tag-class>
		<body-content>empty</body-content>
	</tag>
</taglib>